@CHARSET "UTF-8";

body {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	line-height: 135%;
	text-shadow: 1px 1px #fff;
	background: #FBFBFB url(../images/pattern1.png);
} 	 	