/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */

body {
	background: #FBFBFB url(../images/pattern1.png);
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.button {
	display: block;
	font-size: 10pt;
	background: linear-gradient( #E6E6E6, #BDBDBD);
	border-radius: 8px;
	margin: 5px;
	/**text-shadow: 0px 1px 0px white;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4); */
	}

.buttonOver {
	display: block;
	font-size: 10pt;
	background: linear-gradient( #E6E6E6, #BDBDBD);
	border-radius: 8px;
	/**text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);*/
}

.buttonDown {
	display: block;
	font-size: 10pt;
	background-color: #E6E6E6;
	border-radius: 8px;
}
 

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
border: 2px outset;
background-color: white;
}

.gwt-DialogBox .Caption {
background-color: #C3D9FF;
padding: 3px;
margin: 2px;
font-weight: bold;
cursor: default;
}

.dialogVPanel {
	margin: 5px;
}

.gwt-PopupPanel {
   border: 3px solid #000000;
   padding: 3px;
   background: white;
}

.gwt-PopupPanel .popupContent {
   border: none;
   padding: 3px;
   background: gray;	
}   

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}